ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

.title-section {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-container {
  padding-top: 120px;
}

.title-item {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header  */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  column-gap: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
}

.header-menu-list {
  display: flex;
  column-gap: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  display: block;
  transition-property: color, transform;
  transition-duration: 250ms, 250ms;
  transition-timing-function: linear;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
  transform: scale(1.1);
}

.header-soc-list {
  display: flex;
  max-width: 100px;
  column-gap: 14px;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111111;
  transition-property: stroke, transform;
  transition-duration: 250ms, 250ms;
  transition-timing-function: linear;
}

.header-soc-icon:hover,
.header-soc-icon:focus {
  transform: scale(1.3);
  stroke: #fd9222;
}

/* hero section */

.hero-section {
  padding-bottom: 80px;
}

.hero-wrap {
  background: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-title::selection {
  background-color: chartreuse;
}

.hero-btn-container {
  display: flex;
  justify-content: space-between;
}

.hero-btn-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 144px;
  height: 45px;
  text-wrap: nowrap;
  margin-right: 18px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.hero-btn-main:hover,
.hero-btn-main:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-btn-link {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.hero-btn-link:hover,
.hero-btn-link:focus {
  border-color: #fd9222;
  color: #fd9222;
}

.hero-btn-scroll {
  display: inline-flex;

  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  gap: 14px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.hero-btn-scroll::after {
  content: '';
  background-image: url(../images/scroll-down-image.svg);
  background-position: center;
  background-repeat: no-repeat;
  fill: transparent;
  stroke: #fd9222;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
  transition-property: background-image, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.hero-btn-scroll:hover {
  color: #fd9222;
}

.hero-btn-scroll:hover::after {
  background-image: url(../images/scroll-down-white.svg);
  background-color: #fd9222;
  transform: scale(1.1);
}

/* feature section */

.feature-section {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-lis {
  display: flex;
  justify-content: space-between;
}

.feature-lis-item {
  width: calc((100% - 2 * 88px) / 3);
}

.feature-lis-image {
  margin-bottom: 22px;
}

.feature-lis-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.feature-lis-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* taste section */

.taste-section {
}

.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-title-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  padding-bottom: 50px;
  max-width: 486px;
  margin: 0 auto;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 32px;
}

.taste-list-item {
  width: calc((100% - 3 * 32px) / 4);
  padding: 28px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #fd9222;
  position: relative;
  transition: transform 300ms, display 100ms;
  background-image: url(../images/arrow-right.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right 14px top 14px;
}

.taste-list-item:hover .taste-item-cover {
  transform: rotateY(-180deg);
  display: block;
}

.taste-list-item:hover {
  transform: rotateY(180deg);
}

.taste-list-item::before {
  background-image: url(../images/arrow-right.svg);
}

.taste-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  border: none;
  color: #ffffff;
}

.taste-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: none;
  color: #ffffff;
}

.taste-list-image {
  display: block;
  margin: 0 auto;
}

.taste-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-top: 36px;
}

.taste-items-box {
}

.taste-item-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 20px 15px;
  background: #ffffff;
  display: none;
  overflow-y: scroll;
}

.taste-item-cover::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.cover-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}

.taste-banefits-box {
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
}

.cover-ingridient-text {
  background: #fd9222;
  padding: 6px 16px;
  border-radius: 35px;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
}

.benefits-text {
  line-height: 1.2;
  font-size: 10px;
  color: #111111;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  background: #fafafa;
}

.taste-cover-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

/* made section */

.made-section {
}

.made-content-container {
  display: flex;
  gap: 20px;
}

.made-info {
  background-color: #fff;
  padding: 32px;
}
.made-title {
  margin-bottom: 50px;
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
  max-width: 352px;
}

.made-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.made-list-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.made-list-item::before {
  content: '';
  background-image: url(../images/Ellipse-made-ul.svg);
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 8px;
}

.made-icon {
  padding: 0 auto;
}

.made-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  position: relative;
}

/* product section */

.product-section {
}

.product-title {
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.product-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  height: 100%;
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 3 * 18px) / 4);
  padding: 32px 20px;
  transition: box-shadow 300ms linear;
}

.product-list-item:hover {
  box-shadow: 5px 5px 9px -6px;
}

.product-list-image {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  margin-bottom: 8px;
}
.product-list-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 2px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.product-list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 18px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.product-list-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  width: 94px;
  height: 33px;
  background-color: #fafafa;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  text-wrap: nowrap;
  transition-property: background-color, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.product-list-btn:hover {
  background-color: gainsboro;
  box-shadow: 5px 5px 9px -6px;
}

/* SELLERS SECTION */

.sellers-section {
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-list-item {
  max-width: calc((100% - 2 * 16px) / 3);
}

.sellers-list-item:hover .sellers-subtitle-box {
  box-shadow: 5px 5px 9px -6px;
}

.sellers-list-item:hover .cover-text-box {
  transform: translateY(0);
}

.sellers-list-image {
}

.sellers-cover {
  position: relative;
  overflow: hidden;
}

.cover-text-box {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 40px;
  border-radius: 15px 15px 0 0;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.cover-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.sellers-subtitle-box {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  background-color: #ffffff;
  padding: 28px 0;
}

.sellers-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

/* LOVED SECTION */

.loved {
}

.loved-title {
  margin-bottom: 50px;
}

.loved-list {
  display: flex;
  gap: 28px;
}

.loved-item {
  max-width: calc((100% - 2 * 28px) / 3);
  text-align: center;
  padding: 0 24px 24px 24px;
  position: relative;
  margin-bottom: 50px;
}

.loved-image {
  margin: 0 auto;
  margin-bottom: 18px;
}

.loved-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 24px;
}
.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.loved-item-text::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #ffffff;
  z-index: -1;
}

.loved-btn-box {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

.loved-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  background-color: #fafafa;
  transition-property: background-color, color;
  transition-duration: 300ms, 200ms;
  transition-timing-function: linear;
}

.loved-btn:hover,
.loved-btn:focus {
  background-color: #fd9222;
  color: #ffffff;
}

/* FOOTER */

.footer-content-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

.footer-content-box::after {
  /* position: absolute;
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.1);
  bottom: 24px;
  width: 100%;
  height: 0; */
}

.footer-addres-box {
  display: flex;
  gap: 50px;
}

.footer {
  padding: 50px 0;
  background-color: #1e1823;
  color: #ffffff;
}

.footer-text {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  margin-bottom: 78px;
}

.footer-text-item {
  color: #fd9222;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}

.footer-soc-icon {
  stroke: #ffffff;
}

.footer-contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}
.footer-address {
}

.footer-contact-list {
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-contact-link {
  color: #ffffff;
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #fd9222;
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-input-email {
  min-width: 312px;
  height: 52px;
  border-radius: 30px;
  background-color: transparent;
  outline: none;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  color: #fafafa;
  padding: 14px 24px;
  margin-right: 8px;
  transition: border-color 300ms linear;
}

.footer-input-email:focus {
  border-color: #fd9222;
}

.footer-input-email::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: -0.36px;
}

.fotter-form-btn {
  min-width: 137px;
  height: 52px;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 17px 32px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: color 300ms linear, background-color 300ms linear;
}

.fotter-form-btn:hover,
.fotter-form-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

/* MODAL */

.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  min-height: 794px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  padding: 40px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
}

.modal-close-icons {
  fill: transparent;
  stroke: #2e2f42;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .modal-close-icons,
.modal-btn-close:focus .modal-close-icons {
  stroke: #fd9222;
}

.modal-title-form {
  margin-bottom: 40px;
  text-align: left;
}

.modal-form {
}

.from-content {
  margin-bottom: 18px;
}

.input-box {
  position: relative;
}

.modal-input-name {
  display: block;
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.user-input-info {
  width: 100%;
  height: 68px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  background-color: transparent;
  outline: transparent;
  padding-left: 62px;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input-info:focus {
  border-color: #fd9222;
}

.modal-input-icons {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: transparent;
  stroke: #404040;
  transition: stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input-info:focus + .modal-input-icons {
  stroke: #fd9222;
}

.box-user-comment {
  margin-bottom: 20px;
}

.user-comment {
  height: 136px;
  resize: none;
  padding: 22px 24px;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(46, 47, 66, 0.4);
}

.user-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.checked-box {
  margin-bottom: 40px;
}

.form-check {
  display: block;
  text-align: center;
  color: rgba(64, 64, 64, 0.6);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.form-check a {
  color: #fd9222;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  display: inline-flex;
}

.checked-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  margin-right: 12px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check-input:checked + .form-check .checked-icon {
  border: none;
  background-color: #fd9222;
  fill: #f4f4fd;
}

.form-btn {
  min-width: 117px;
  height: 56px;
  padding: 14px 40px;
  background-color: #fd9222;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  border: 1px solid #fd9222;
  background-color: #fdfdfd;
  color: #111111;
}
