ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

.title-section {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title-item {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header  */

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

/* hero section */

.hero-section {
  background: rgba(17, 17, 17, 0.6);
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-title::selection {
  background-color: chartreuse;
}

.hero-btn-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 40px;
  width: 144px;
  height: 45px;
  text-wrap: nowrap;
}

.hero-btn-link {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

/* feature section */

.feature-section {
  background: #1e1823;
}

.feature-lis {
}

.feature-lis-item {
}

.feature-lis-image {
}

.feature-lis-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.feature-lis-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* taste section */

.taste-section {
}

.taste-title {
}

.taste-title-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.taste-list {
}

.taste-list-item {
  border-radius: 15px;
  width: 260px;
  height: 270px;
  padding-left: 28px;
}

.taste-item-orange {
  background-color: #fd9222;
  color: #ffffff;
}

.taste-item-white {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #fd9222;
}

.taste-item-dark {
  background-color: #1e1823;
  color: #ffffff;
}

.taste-list-image {
}

.taste-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* made section */

.made-section {
}

.made-info {
  background-color: #fff;
}
.made-title {
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-list {
}

.made-list-item {
}

.made-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* product section */

.product-section {
}
.product-title {
}

.product-list {
}

.product-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 270px;
  height: 364px;
  background-color: #ffffff;
  text-align: center;
}

.product-list-image {
}

.product-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.product-list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.product-list-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  width: 94px;
  height: 33px;
  background-color: #fafafa;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  text-wrap: nowrap;
}

/* sellers section */

.sellers-section {
}

.sellers-title {
}

.sellers-list {
}

.sellers-list-item {
}

.sellers-list-image {
}

.sellers-list-title {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  width: 368px;
  height: 80px;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

/* loved section */

.loved {
}
.loved-title {
}

.loved-list {
}

.loved-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #ffffff;
  text-align: center;
}

.loved-image {
}

.loved-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  background-color: #fafafa;
}

/* footer */

.footer {
  background-color: #1e1823;
  color: #ffffff;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-text-item {
  color: #fd9222;
}
.footer-soc-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
.footer-soc-list {
}
.footer-soc-item {
}

.footer-soc-image {
}

.footer-contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}

.footer-address {
}
.footer-contact-list {
}
.footer-contact-item {
}
.footer-contact-link {
  color: #ffffff;
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #fd9222;
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: -0.02em;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}
