ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

.title-section {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-container {
  padding-top: 120px;
}

.title-item {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header  */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  column-gap: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 90px;
}

.header-menu-list {
  display: flex;
  column-gap: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  max-width: 100px;
  column-gap: 14px;
}

/* hero section */

.hero-section {
  padding-bottom: 80px;
}

.hero-wrap {
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-title::selection {
  background-color: chartreuse;
}

.hero-btn-container {
  display: flex;

  justify-content: space-between;
}

.hero-btn-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 144px;
  height: 45px;
  text-wrap: nowrap;
  margin-right: 18px;
}

.hero-btn-main:hover,
.hero-btn-main:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-btn-link {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-btn-link:hover,
.hero-btn-link:focus {
  border-color: #fd9222;
  color: #fd9222;
}

.hero-btn-scroll {
  display: inline-flex;

  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  gap: 14px;
}

.hero-btn-scroll:hover,
.hero-btn-scroll:focus {
  color: #fd9222;
}

.scroll-images {
  border-radius: 50%;
  padding: 8px;
  background-color: #ffffff;
}

.scroll-images:hover,
.scroll-images:focus {
  background-color: #fcf1e0;
}
/* feature section */

.feature-section {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-lis {
  display: flex;
  justify-content: space-between;
}

.feature-lis-item {
  width: calc((100% - 2 * 88px) / 3);
}

.feature-lis-image {
  margin-bottom: 22px;
}

.feature-lis-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.feature-lis-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* taste section */

.taste-section {
}

.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-title-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  padding-bottom: 50px;
  max-width: 486px;
  margin: 0 auto;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 32px;
}

.taste-list-item {
  width: calc((100% - 3 * 32px) / 4);
  padding: 28px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #fd9222;
}

.taste-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  border: none;
  color: #ffffff;
}

.taste-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: none;
  color: #ffffff;
}

.taste-list-image {
  display: block;
  margin: 0 auto;
}

.taste-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-top: 36px;
}

/* made section */

.made-section {
}

.made-content-container {
  display: flex;
  gap: 20px;
}

.made-info {
  background-color: #fff;
  padding: 32px;
}
.made-title {
  margin-bottom: 50px;
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
  max-width: 352px;
}

.made-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.made-list-item {
}

.made-icon {
  padding: 0 auto;
}

.made-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  position: relative;
}

/* product section */

.product-section {
}
.product-title {
}

.product-list {
}

.product-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 270px;
  height: 364px;
  background-color: #ffffff;
  text-align: center;
}

.product-list-image {
}

.product-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.product-list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.product-list-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  width: 94px;
  height: 33px;
  background-color: #fafafa;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  text-wrap: nowrap;
}

/* sellers section */

.sellers-section {
}

.sellers-title {
}

.sellers-list {
}

.sellers-list-item {
}

.sellers-list-image {
}

.sellers-list-title {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  width: 368px;
  height: 80px;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

/* loved section */

.loved {
}
.loved-title {
}

.loved-list {
}

.loved-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #ffffff;
  text-align: center;
}

.loved-image {
}

.loved-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  background-color: #fafafa;
}

/* footer */

.footer {
  background-color: #1e1823;
  color: #ffffff;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-text-item {
  color: #fd9222;
}
.footer-soc-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
.footer-soc-list {
}
.footer-soc-item {
}

.footer-soc-image {
}

.footer-contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}

.footer-address {
}
.footer-contact-list {
}
.footer-contact-item {
}
.footer-contact-link {
  color: #ffffff;
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #fd9222;
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: -0.02em;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}
